*
{
    margin: 0;
    padding: 0;
}

html,
body{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

canvas{
    background-color :  #8153B7;
    background : radial-gradient(ellipse at center, #242242 , #11182A);
    margin: 0;
    padding: 0;
}
