*
{
    margin: 0;
    padding: 0;
}

body
{
  /* background-image: radial-gradient(circle, #6b35ab, #4d2f92, #322778, #1a1e5e, #041444); */
  font-family:Helvetica,Arial;
  font-size:14px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas{
    background-image: radial-gradient(circle, #6b35ab, #4d2f92, #322778, #1a1e5e, #041444);
  /*  width: 100%;
    height: 100%;*/
}
