@font-face {
  font-family: "Lazer84";
  src: url("fonts/Lazer84.ttf");
}
@font-face {
font-family: "SF Atarian System Extended";
src: url("fonts/SF Atarian System Extended.ttf");
}
body {
font-family: 'Lazer84';
font-weight:normal;
font-style:normal;
background-image: radial-gradient(circle, #6b35ab, #4d2f92, #322778, #1a1e5e, #041444);
background-attachment: fixed;
}

/*
            HEADER
*/

.container{
  max-width:60rem;
  margin: 0 auto;
}
.header{
  width: 100%;
  display: flex;
  justify-content: center;
}
.title__div{
  width:65%;
}
.logo{
  margin-top: -10%;
  height:auto;
  width:120%;
  margin-right: 25%;
}
.header__title{
  text-align: center;
  width:100%;
}
.header__play{
  width:100%;
  display: flex;
  justify-content: flex-end;
  font-size: 2.5rem;
  margin-top: -0.9rem;
}
.header__play a{
  text-decoration: none;
  color: #ffd10b;
  border: thick solid #ffd10b;
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
}
.header__play a:hover{
  color: #17ACEA;
  border: thick solid #17ACEA;
  transition: all 0.1s;
}

/*
        body
*/

.title__secondary{
  color: #17ACEA ;
  font-size: 2.0rem;
  text-align: center;
  margin: 4rem;
  animation-duration: 2s;
  animation-name: slidein;
}
.summary{
  font-family: "SF Atarian System Extended";
  font-size: 1.3rem;
  color:lightgrey;
  max-width: 30rem;
}
.poster{
  max-height: 30rem;
  max-width: auto;
  margin-right: 7rem;
  border: thick solid #cf027f;
}
.container__img__summary{
  display: flex;
  justify-content: center;
  animation-duration: 2s;
  animation-name: slidein;
}

.game__summary{
  display: flex;
  flex-wrap: wrap;
}
@keyframes slidein {
  from{
    opacity: 0;
  }

    to {
    opacity: 1;
  }
}

/*
        footer
*/

.footer__container{
  display: flex;
  justify-content: space-around;
}
ul.footer_element{
  list-style: none;
  display: flex;
  flex-direction:row;
  margin-top: 8rem;
}

.footer_element li{
  margin: 1rem;
}
ul.footer_element li a{
  text-decoration: none;
  font-family: "SF Atarian System Extended";
  color:#ffd10b;
  border: thin solid #ffd10b;
}
ul.footer_element li a:hover{
  color:#17ACEA;
  border: thin solid #17ACEA;
  transition: all 0.1s;
}

/*
        background
*/

#z-index{
  z-index: 100;
  position: fixed;
}
#img__container{
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.star.specialStar{
  filter:blur(0) !important;
}
.star{
  transform-origin: 50% 50%;;
}
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 4s linear infinite;
}
