@font-face {
font-family: "Lazer84";
src: url("fonts/Lazer84.ttf");
}

body {
font-family: 'Lazer84';
font-weight:normal;
font-style:normal;
background-image: radial-gradient(circle, #6b35ab, #4d2f92, #322778, #1a1e5e, #041444);
background-attachment: fixed;
}

.container{
  width:960px;
  margin: 0 auto;
}
.header{
  width: 100%;
  display: flex;
  justify-content: center;
}
.title__div{
  width:65%;
}
.header__title{
  text-align: center;
  width:100%;
}

.header__play{
  width:100%;
  display: flex;
  justify-content: flex-end;
  font-size: 2.2rem;
  margin-top: -0.9rem;
}

.logo{
  margin-top: -10%;
  height:auto;
  width:120%;
  margin-right: 25%;
}

.header__play a{
  text-decoration: none;
  color: #ffd10b;
  border: thick solid #ffd10b;
  padding: 5px 15px;
  margin-right: 10px;
}

.header__play a:hover{
  font-size: 3.0rem;
  padding: -6px 0;
  margin-right: 5px;
  color: #17ACEA;
  border: thick solid #17ACEA;
}

.title__secondary{
  color: #17ACEA ;
  font-size: 1.4rem;
  text-align: center;
}
.summary{
  font-size: 0.9rem;
  color:lightgreen;
  width: 400px;
  margin: 0 auto;
}
#z-index{
  z-index: 100;
  position: fixed;
}
#img__container{
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.star.specialStar{
  filter:blur(0) !important;
  -webkit-transform: translateZ(0);
}
