
body {
font-family: 'Lazer84';
font-weight:normal;
font-style:normal;
background-image: radial-gradient(circle, #6b35ab, #4d2f92, #322778, #1a1e5e, #041444);

}
h2 {
  text-align: center;
  position: absolute;
  margin-top: 20%;
  margin-right: 20%;
}
h2.play{
  font-size: 110px;
  color: #ffd10b;
}
h2.menu{
  font-size: 100px;
  color: blue;
  margin-top: 30%;
}

img{
  width:100%;
  position: absolute;
}
